@import '~bootstrap/scss/bootstrap';

html {

}

body {

  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 533px;
}

h1 {
  text-align: center;
}

.box {
  width: 30%;
  height: 55%;
  background-color: grey;
  padding: 50px;
  margin-left: auto;
  margin-top: auto;
  box-shadow: 5px 10px 8px #888888;
  border-radius: 10px;
}

#email {
  margin-right: 135px;
}

#password {
  margin-right: 105px;
}

#confirmPassword {
  margin-right: 40px;
}

.signup {
  margin-top: 5px;
  margin-right: 8px;
  border-radius: 5px;
  outline: none;
}

.border {
  border-radius: 5px;
  outline: none;
}

#sign-out {
  display: none;
}

#sign-up2 {
  margin-top: 8px;
}

#sign-in {
  display: none;
}

#change-password {
  display: none;
}

#change-password2 {
  margin-top: 7px;
}

.sign-in {
  margin-top: 7px;
}

.signout > input {
  display: none;
  margin-top: 7px;
}

.switch2 {
  display: none;
}

.switch {
  margin-top: 4px;
}

#message {
  text-align: center;
}

#create-music {
  display: none;
}

#edit-music {
  display: none;
}

.musicOutput {
  width: 300px;
  height: 300px;
}

#editBtn {
  display: none;
}

#show {
  display: none;
}
